
.avatar {
  border-radius: 50%;
  overflow: hidden;
  display: inline-flex;
  border: 1px solid #000;
}
  #card-profile {
  width: 100%;
  max-width: 300px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  box-shadow: 2px 2px 5px #000;
  border: 1px solid #000;
}
